/* PlazaITC */
@font-face {
  font-family: 'PlazaITC';
  src: url('../fonts/plazaitc/PlazaITC-Normal.eot');
  src: url('../fonts/plazaitc/PlazaITC-Normal.eot?#iefix') format('embedded-opentype'),
       url('../fonts/plazaitc/PlazaITC-Normal.woff') format('woff'),
       url('../fonts/plazaitc/PlazaITC-Normal.ttf') format('truetype'),
       url('../fonts/plazaitc/PlazaITC-Normal.svg#Din Cond') format('svg');
  font-style: normal;
  font-weight: 400;
}
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700');
