@import 'fonts';
@import 'settings';

.fusion-header-menu-align-center .fusion-main-menu{
  background: transparentize($color-pr, 0);
}
.fusion-header-wrapper{
  -webkit-box-shadow: inset 0 -60px 0 #f1f1f2;
  -moz-box-shadow: inset 0 -60px 0 #f1f1f2;
  box-shadow: inset 0 -60px 0 #f1f1f2;
  padding-bottom: 30px;
}
.fusion-main-menu > a,
.fusion-main-menu .menu-item > a{
  text-transform: uppercase;
  font-weight: 300;
}
.fusion-main-menu > ul > li{
  padding: 15px 0 !important;
}
.fusion-main-menu > ul > li > a{
  padding: 0 12px !important;
  border-right: 1px solid #efe6d3;
}
.fusion-main-menu > ul > li:last-child > a{
  border-right: none !important;
}
.fusion-main-menu > ul > li.current-menu-item > a{
  font-weight: bold;
}
.fusion-secondary-main-menu{
  background-color: transparent !important;
}

body.home{
  .fusion-header-wrapper{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-bottom: 0;
  }
  .fusion-secondary-main-menu{
    margin-bottom: -30px;
  }
  .fusion-header-menu-align-center .fusion-main-menu{
    background: transparentize($color-pr, 0.1);
    -webkit-box-shadow: 0 5px 20px -8px #000000;
    -moz-box-shadow: 0 5px 20px -8px #000000;
    box-shadow: 0 5px 20px -8px #000000;
  }
}

.fusion-modal h1, .fusion-page-title-bar h1, .fusion-widget-area h1, .post-content h1{
  font-family: 'PlazaITC', sans-serif !important;
  color: #231f20 !important;
  font-size: 55px !important;

  &:after{
    content: "";
    width: 150px;
    height: 8px;
    left: 50%;
    bottom: 0;
    background: $color-pr;
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.info-box-bg{
  h3 {
    font-size: 26px !important;
  }

  .info-text-big{
    font-size: 22px;
    line-height: 1.3;
    color: #3b3b3b;
  }
}

.fusion-title.fusion-sep-none{
  position: relative;
}

.fusion-header-tagline{
  font-weight: 400 !important;
}

.square-btn-big{
  font-weight: 800 !important;
  font-family: 'Open Sans' !important;
}
.rest-page-width{
  max-width: $page-width;
  width: $page-width;
  margin: 0 auto !important;
}
.abs-img-cont{
  img{
    margin-top: -60px !important;
  }
}

.own-testimonials{
  margin: 100px 0 40px 0;
  .testimonial {
    position: relative !important;
    border: 1px solid #6d6e70 !important;
    .testimonial-inner{
      padding: 30px !important;
      .testimonial-content{
        text-align: center !important;
        font-size: 0.9em !important;
        color: #3b3b3b !important;
        padding-top: 100px !important;
        .testimonial-image{
          border-bottom: 1px solid #6d6e70 !important;
          position: absolute !important;
          left: 50% !important;
          top: -75px !important;
          -webkit-transform: translateX(-50%) !important;
          -moz-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
          float: none !important;
          text-align: center !important;
          -webkit-border-radius: 150px;
          -moz-border-radius: 150px;
          border-radius: 150px;
          margin: 0;
          overflow: hidden;

          img{
            border: none !important;
            padding: 10px !important;
          }
        }

        &:before{
          content: '​‌”';
          position: absolute;
          left: 50%;
          top: 65px;
          -webkit-transform: translateX(-50%) !important;
          -moz-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
          pointer-events: none;
          font-size: 105px;
          font-family: 'Crimson Text', serif;
          font-weight: 700;
          color: $color-pr;
        }
      }
      .testimonial-client{
        text-align: center !important;
        color: $color-pr !important;
        text-transform: uppercase !important;
      }
    }
  }
}

.header-contact-holder{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  & > div {
    padding-left: 25px;
    color: #231f20 !important;
  }

  i {
    color: $color-pr;
    font-size: 20px;
    margin-right: 4px;
    vertical-align: middle;
  }

  & > div.phone,
  & > div.phone a {
    font-weight: 800 !important;
    color: #231f20 !important;
  }
}

.contact-block-holder{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #231f20;

  a {
    color: #231f20;
  }

  .contact{
    flex-basis: 30%;
  }
  .contact-form {
    flex-basis: 70%;
  }
  i {
    color: $color-pr;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 8px;
  }
  h3, h4 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px 0;
  }

  h3 {
    color: $color-pr;
    font-size: 30px;
    line-height: 1.2;
  }
  h4 {
    color: #231f20;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  .items{
    font-size: 0.9em;

    & > div {
      line-height: 1;
      margin: 18px 0;
    }
  }
}
